.child {
    border: solid black 2px;
    background-color: rgb(20, 154, 27);
}

table {
    border: solid black 2px;
}

th {
    border: solid black 2px;
    color: yellow;
}

td {
    border: solid black 2px;
    color: white;
}